body{
    font-family:  "Press Start 2P", sans-serif;
}
.game-container{
    width: 100vw;
    height: 100vh;
    background-color: #555;
    color: white;
}
.again{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}
.btn{
    font-size: 24px;
    padding: 20px 40px;
    font-family: inherit;
    display: block;
    cursor: pointer;

}
.game-name{
    text-align: center;
    font-size: 70px;
}
.line{
    background-color: white;
    height: 15px;
    width: 30%;
}
.secret-num{
    width: 15%;
    text-align: center;
    color: #555;
    padding: 50px 0;
    background-color: white;
    font-size: 50px;
}
.secret-num-con{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-box{
    width: 50%;
}
.message-box{
    width: 50%;
}
.box{
    display: flex;
    text-align: center;
}
.check{
    margin: 0 auto;
}
.input{
    padding: 20px 5px;
    font-size: 30px;
    margin: 100px 0;
    width: 200px;
    font-family: inherit;
}
.message{
    margin-top: 100px;
}
.score, .highscore{
    margin-top: 50px;
}
