@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
  background-color: #333;
  color: white;
  font-family: 'Press Start 2P', sans-serif;
}
.container {
  padding: 50px;
}
.again-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.again {
  display: inline-block;
  font-family: 'Press Start 2P', sans-serif;
  font-family: inherit;
  padding: 15px 15px;
  cursor: pointer;
}
.header {
  text-align: center;
  font-size: 50px;
}
.line {
  width: 40%;
  height: 15px;
  background-color: white;
}
.secret {
  color: #333;
  background-color: white;
  width: 20%;
  font-size: 80px;
  padding: 20px;
  text-align: center;
}
.secret-con {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.input-con {
  display: flex;
  justify-content: space-evenly;
}
#guess {
  display: inline-block;
  text-align: center;
  width: 20%;
  font-family: inherit;

  font-size: 60px;
  padding: 30px 20px;
  border-color: white;
  border-width: 3px;
  color: white;
  background-color: #333;
}
.check-con {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
